<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<title>About us</title>
<style>
body {
	background-image: url("http://www.agengineering.in/images/44.jpg");
	background-color:gray;
	background-repeat: no-repeat;
	backgroung-image {width: 2500px;
}
}
</style>
</head>
<body>
	<div class="container">
		<br /> <a href="/gAIMers" class="navbar-brand"><h2>
				<b>gAIMers</b>
			</h2></a>
			<br/><br/><br/><br/><br/>
			<div align="center"><h3>
			gAIMers allows you to discover, connect and engage with the best in sports coaching.
Built on a vision to create the largest community of sports coaches that redefines the way sports are played and learnt across the globe.
			
			</h3>
			</div>
			
			<br/>
<br/><br/><br/><br/><br/><br/><br/>	<br/><br/><br/><br/>	<br/><br/>	
			<div align="center">
			
			<h2>OUR STORY</h2>

<h4>We’re sports enthusiasts.<br/>
Sports is everything for us; our teacher, our first love, our driving force. And as sports lovers, we know what it’s like to push yourself to work hard, play better, go against the odds & give it your best shot – all to succeed in something so close to your heart.<br/> We understand how important it is for you to connect with a credible coach who guides you & grooms you.

We believe, that a sport isn’t just a hobby. It’s about character building, it’s about learning to focus, it’s about believing in yourself & about giving it your all. <br/>It has shaped us to be the people who we are today: gAIMers.<br/> And we aim to change the way people look at sports, to organise & redefine the sports industry in India, to create a strong base of skilled coaches & to bring out the person in you who’s inspired to get there on the field.

You are our team.<br/>
And together, we hope to start a revolution that’ll bring together passion & talent, inherent in each and every one of us.
			
			</h4>
			</div>
			
			
			
			
			
			
			
			
			
		<div class="container">
			<div class="row text-center">
				<div class="col-sm-10 col-sm-offset-1 text-center">
					<br><br><br>
					<h1 style="font-weight: bold;">THE FOUNDER</h1>
				</div>
				
				<br><br>
				<div class="row">
				<div class="cols">
				
				</div>
				<div class="cols">
					<div class="col-sm-3 col-sm-offset-3 text-center">
						
							<img  style="margin-bottom: 15px; align:center;" src="https://www.shutterstock.com/image-vector/hijab-woman-wearing-without-face-260nw-1538044379.jpg">
							<h3 align="center"><i>HADIA SAMREEN</i></h3>
						</div>
						
			</div><div class="cols"></div>
</div></div></div>

			
	
</body>
</html>